In [1]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\17376\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\17376\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\17376\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17376\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\17376\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\17376\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\17376\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\17376\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
df = pd.read_excel('C:\\Users\\17376\\Desktop\\CYX\\study\\5291_capstone\\project\\data\\core_dataset.xlsx')
df.head(5)

,NtsbNo,EventType,Mkey,EventDate,City,State,Country,ReportNo,N,HasSafetyRec,...,Scheduled,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,ReportStatus,RepGenFlag,DocketUrl,DocketPublishDate
0,CEN25LA162,ACC,200057,2025-04-22T13:25:00Z,Fayetteville,Arkansas,United States,NaN,N4795C,False,...,NaN,NaN,NaN,NaN,NaN,NaN,In work,False,NaN,NaT
1,ENG25WA030,INC,200056,2025-04-22T04:00:00Z,Budapest,NaN,Hungary,NaN,SP-RZUb,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaT
2,DCA25LA190,ACC,200055,2025-04-20T04:00:00Z,Tulsa,Oklahoma,United States,NaN,N461WN,False,...,SCHD,NaN,121,NaN,NaN,SOUTHWEST AIRLINES CO,In work,False,NaN,NaT
3,WPR25LA138,ACC,200048,2025-04-19T11:42:00Z,Hood River,Oregon,United States,NaN,N5786S,False,...,NaN,INST,91,Substantial,VMC,HOOD RIVER SOARING INC,In work,False,NaN,NaT
4,WPR25LA136,ACC,200044,2025-04-19T11:06:00Z,Phoenix,Arizona,United States,NaN,N321WC,False,...,NaN,NaN,NaN,NaN,NaN,NaN,In work,False,NaN,NaT

In [5]:
Boeing= pd.read_csv('C:\\Users\\17376\\Desktop\\CYX\\study\\5291_capstone\\project\\data\\Boeing_Weekly_Prices.csv')
Boeing.head(5)

        Date      Close       High        Low       Open    Volume
0   2000/1/1  28.602894  28.965977  25.657885  26.747135  24792500
1   2000/1/8  28.401175  28.723915  27.110212  28.602887  14051300
2  2000/1/15  29.490435  31.063796  27.836388  28.401185  30657000
3  2000/1/22  28.804609  30.256943  28.159128  29.490433  17080700
4  2000/1/29  28.401175  29.167684  27.473295  28.764258  14199400

In [7]:
# 指定需要保留的列
columns_to_keep = [
    'EventType', 'EventDate', 'City', 'State', 'Country', 'HighestInjuryLevel',
    'FatalInjuryCount', 'SeriousInjuryCount', 'MinorInjuryCount',
    'Latitude', 'Longitude', 'Make', 'Model', 'AirportID',
    'Scheduled', 'PurposeOfFlight', 'FAR', 'AirCraftDamage', 'WeatherCondition'
]
# 只保留指定列
df_cleaned = df[columns_to_keep]
# 看一眼清洗后的数据
print(df_cleaned.head())

  EventType             EventDate          City     State        Country  \
0       ACC  2025-04-22T13:25:00Z  Fayetteville  Arkansas  United States
1       INC  2025-04-22T04:00:00Z      Budapest       NaN        Hungary
2       ACC  2025-04-20T04:00:00Z         Tulsa  Oklahoma  United States
3       ACC  2025-04-19T11:42:00Z    Hood River    Oregon  United States
4       ACC  2025-04-19T11:06:00Z       Phoenix   Arizona  United States

  HighestInjuryLevel  FatalInjuryCount  SeriousInjuryCount  MinorInjuryCount  \
0                NaN                 0                   0                 0
1                NaN                 0                   0                 0
2                NaN                 0                   0                 0
3                NaN                 0                   0                 0
4                NaN                 0                   0                 0

    Latitude  Longitude                   Make              Model AirportID  \
0   0.000000    0.00000                 CESSNA              T210N       NaN
1   0.000000    0.00000                 BOEING                737       NaN
2   0.000000    0.00000                 BOEING            737-7H4       NaN
3  45.674118 -121.52271              SCHWEIZER          SGS 2-33A       4S2
4   0.000000    0.00000  CHAPIN WALLACE HADLEY  SENIOR AERO SPORT       NaN

  Scheduled PurposeOfFlight  FAR AirCraftDamage WeatherCondition
0       NaN             NaN  NaN            NaN              NaN
1       NaN             NaN  NaN            NaN              NaN
2      SCHD             NaN  121            NaN              NaN
3       NaN            INST   91    Substantial              VMC
4       NaN             NaN  NaN            NaN              NaN

In [9]:
df_cleaned.columns.tolist()

['EventType',
 'EventDate',
 'City',
 'State',
 'Country',
 'HighestInjuryLevel',
 'FatalInjuryCount',
 'SeriousInjuryCount',
 'MinorInjuryCount',
 'Latitude',
 'Longitude',
 'Make',
 'Model',
 'AirportID',
 'Scheduled',
 'PurposeOfFlight',
 'FAR',
 'AirCraftDamage',
 'WeatherCondition']

In [13]:
# 保存为 CSV 文件
df_cleaned.to_csv("df_cleaned.csv", index=False)

In [11]:
missing_count = df_cleaned.isnull().sum()
missing_ratio = df_cleaned.isnull().mean()
missing_df = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': (missing_ratio * 100).round(2)
})
print(missing_df)

                    Missing Count  Missing Ratio (%)
EventType                       0               0.00
EventDate                       0               0.00
City                           13               0.05
State                        4908              19.50
Country                         4               0.02
HighestInjuryLevel          13877              55.14
FatalInjuryCount                0               0.00
SeriousInjuryCount              0               0.00
MinorInjuryCount                0               0.00
Latitude                        0               0.00
Longitude                       0               0.00
Make                           27               0.11
Model                          35               0.14
AirportID                    9970              39.61
Scheduled                   22224              88.30
PurposeOfFlight              4979              19.78
FAR                           683               2.71
AirCraftDamage               1619               6.43
WeatherCondition             4471              17.76

In [15]:
# 去除 Make 和 Model 列有缺失的行
df_cleaned2 = df_cleaned.dropna(subset=['Make', 'Model'])
# 查看处理后的行数
print(f"原始行数：{len(df_cleaned)}，去除后行数：{len(df_cleaned2)}")
removed_rows = len(df_cleaned) - len(df_cleaned2)
print(f"删除的行数：{removed_rows}，占比：{removed_rows / len(df_cleaned) * 100:.2f}%")

原始行数：25168，去除后行数：25130
删除的行数：38，占比：0.15%

In [17]:
missing_count = df_cleaned2.isnull().sum()
missing_ratio = df_cleaned2.isnull().mean()
missing_df = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': (missing_ratio * 100).round(2)
})
print(missing_df)

                    Missing Count  Missing Ratio (%)
EventType                       0               0.00
EventDate                       0               0.00
City                           13               0.05
State                        4876              19.40
Country                         4               0.02
HighestInjuryLevel          13855              55.13
FatalInjuryCount                0               0.00
SeriousInjuryCount              0               0.00
MinorInjuryCount                0               0.00
Latitude                        0               0.00
Longitude                       0               0.00
Make                            0               0.00
Model                           0               0.00
AirportID                    9937              39.54
Scheduled                   22208              88.37
PurposeOfFlight              4951              19.70
FAR                           680               2.71
AirCraftDamage               1609               6.40
WeatherCondition             4442              17.68

In [19]:
# 筛选 Latitude 和 Longitude 都为 0 的行
zero_location = df_cleaned2[(df_cleaned2['Latitude'] == 0) & (df_cleaned2['Longitude'] == 0)]
# 只保留指定列
zero_location = zero_location[['Latitude', 'Longitude', 'City', 'State', 'Country']]
# 查看结果
print(zero_location)

       Latitude  Longitude           City     State        Country
0           0.0        0.0   Fayetteville  Arkansas  United States
1           0.0        0.0       Budapest       NaN        Hungary
2           0.0        0.0          Tulsa  Oklahoma  United States
4           0.0        0.0        Phoenix   Arizona  United States
5           0.0        0.0         Trilla  Illinois  United States
...         ...        ...            ...       ...            ...
25133       0.0        0.0      St. Croix       NaN  United States
25157       0.0        0.0           Hahn       NaN        Germany
25159       0.0        0.0  Turin Airport       NaN          Italy
25161       0.0        0.0       Dortmund       NaN        Germany
25163       0.0        0.0      Sept-Îles       NaN         Canada

[2845 rows x 5 columns]

In [21]:
# 选出 City 为缺失值的行
zero_location_nan_city = zero_location[zero_location['City'].isnull()]
# 查看结果
print(zero_location_nan_city)

       Latitude  Longitude City State  Country
18765       0.0        0.0  NaN   NaN    China
22135       0.0        0.0  NaN   NaN   Brazil
24870       0.0        0.0  NaN   NaN  Hungary

In [23]:
# 先建立不同层级的映射

# 1. City + State + Country 映射
city_mapping = df_cleaned2[
    (df_cleaned2['Latitude'] != 0) & (df_cleaned2['Longitude'] != 0)
][['City', 'State', 'Country', 'Latitude', 'Longitude']].dropna().drop_duplicates()

# 2. State + Country 映射
state_mapping = df_cleaned2[
    (df_cleaned2['Latitude'] != 0) & (df_cleaned2['Longitude'] != 0)
][['State', 'Country', 'Latitude', 'Longitude']].dropna().drop_duplicates()

# 3. Country 映射
country_mapping = df_cleaned2[
    (df_cleaned2['Latitude'] != 0) & (df_cleaned2['Longitude'] != 0)
][['Country', 'Latitude', 'Longitude']].dropna().drop_duplicates()

# 定义填补函数
def fill_lat_lon(row):
    if row['Latitude'] == 0 and row['Longitude'] == 0:
        # 优先 City + State + Country
        match = city_mapping[
            (city_mapping['City'] == row['City']) & 
            (city_mapping['State'] == row['State']) & 
            (city_mapping['Country'] == row['Country'])
        ]
        if not match.empty:
            row['Latitude'] = match['Latitude'].values[0]
            row['Longitude'] = match['Longitude'].values[0]
            return row

        # 如果 City 不行，用 State + Country
        match = state_mapping[
            (state_mapping['State'] == row['State']) & 
            (state_mapping['Country'] == row['Country'])
        ]
        if not match.empty:
            row['Latitude'] = match['Latitude'].values[0]
            row['Longitude'] = match['Longitude'].values[0]
            return row

        # 如果 State 也不行，用 Country
        match = country_mapping[
            (country_mapping['Country'] == row['Country'])
        ]
        if not match.empty:
            row['Latitude'] = match['Latitude'].values[0]
            row['Longitude'] = match['Longitude'].values[0]
            return row

    return row

# 应用到整个 df_cleaned2
df_cleaned3 = df_cleaned2.apply(fill_lat_lon, axis=1)

# 查看补齐效果
print(f"补齐后的 Latitude=0 和 Longitude=0 的行数：{len(df_cleaned3[(df_cleaned3['Latitude'] == 0) & (df_cleaned3['Longitude'] == 0)])}")

补齐后的 Latitude=0 和 Longitude=0 的行数：33

In [35]:
# 筛选出 Latitude 和 Longitude 都等于 0 的行
still_missing = df_cleaned3[(df_cleaned3['Latitude'] == 0) & (df_cleaned3['Longitude'] == 0)]
# 查看
still_missing = still_missing[['City', 'Country']]
print(still_missing)

                             City                                Country
859                        Malabo                      Equatorial Guinea
1180                  Ho Chi Minh                                Vietnam
1299                       Muscat                                   Oman
1481                    Samarkand                             Uzbekistan
1925                      Tripoli                                  Libya
1966                       Muscat                                   Oman
1994                       Bequia          St Vincent And The Grenadines
2931                   Donam Port  Democratic People's Republic Of Korea
3157                   Luxembourg                             Luxembourg
3779              Jraber township                                Armenia
4559                          TBD                                   Oman
4727                     Punaauia                       French Polynesia
6088                      Paranam                               Suriname
7822                       Lommis                              Swaziland
8156   TAN SON NHAT INT’L AIRPORT                                Vietnam
8270                      Incheon  Democratic People's Republic Of Korea
8409                Lifou Wanaham                          New Caledonia
9928                      Albania                                Albania
10684                      Diatar                             Mauritania
12167                     Conakry                                 Guinea
12848               Poesoegroenoe                               Suriname
14587                 Ulaanbaatar                               Mongolia
15222                     Nicosia                                 Cyprus
15986                       Nauru                                  Nauru
17011       Noumea, New Caledonia                          New Caledonia
18072                     Honiara                        Solomon Islands
19335                  Luxembourg                             Luxembourg
19580                      Muscat                                   Oman
20901           CAM RANH, Vietnam                                Vietnam
24092                  Arnos Vale          St Vincent And The Grenadines
24642                     Tripoli                                  Libya
24779                    Muharraq                                Bahrain
25101                  Luxembourg                             Luxembourg

In [37]:
import pandas as pd

# 列表数据
data = {
    'City': [
        'Malabo', 'Ho Chi Minh', 'Muscat', 'Samarkand', 'Tripoli', 'Bequia',
        'Luxembourg', 'Punaauia', 'Paranam', 'TAN SON NHAT INT’L AIRPORT', 'Incheon',
        'Lifou Wanaham', 'Albania', 'Conakry', 'Poesoegroenoe', 'Ulaanbaatar',
        'Nicosia', 'Nauru', 'Noumea, New Caledonia', 'Honiara',
        'CAM RANH, Vietnam', 'Arnos Vale', 'Muharraq'
    ],
    'Country': [
        'Equatorial Guinea', 'Vietnam', 'Oman', 'Uzbekistan', 'Libya',
        'St Vincent And The Grenadines', 'Luxembourg', 'French Polynesia',
        'Suriname', 'Vietnam', 'South Korea', 'New Caledonia', 'Albania',
        'Guinea', 'Suriname', 'Mongolia', 'Cyprus', 'Nauru', 'New Caledonia',
        'Solomon Islands', 'Vietnam', 'St Vincent And The Grenadines', 'Bahrain'
    ],
    'Latitude': [
        3.75, 10.7769, 23.6139, 39.6542, 32.8872, 13.0116,
        49.6117, -17.6333, 5.7167, 10.8188, 37.4563,
        -20.9, 41.3275, 9.5092, 4.35, 47.9186,
        35.1667, -0.5277, -22.2758, -9.4319,
        11.9981, 13.1444, 26.2572
    ],
    'Longitude': [
        8.7833, 106.7009, 58.5922, 66.9597, 13.1913, -61.2358,
        6.13, -149.5667, -55.0667, 106.6518, 126.7052,
        167.2833, 19.8189, -13.7122, -55.4333, 106.917,
        33.3667, 166.9364, 166.458, 159.9569,
        109.2249, -61.2108, 50.6119
    ]
}

# 创建 DataFrame
geo_df = pd.DataFrame(data)

In [39]:
# 用 City 合并，suffixes 防止列名冲突
df_merged = df_cleaned3.merge(
    geo_df[['City', 'Latitude', 'Longitude']],
    on='City',
    how='left',
    suffixes=('', '_geo')
)

# 如果原 Latitude 为 0 而 geo 中有数据，则更新
df_merged['Latitude'] = df_merged.apply(
    lambda row: row['Latitude_geo'] if row['Latitude'] == 0 and pd.notna(row['Latitude_geo']) else row['Latitude'],
    axis=1
)
df_merged['Longitude'] = df_merged.apply(
    lambda row: row['Longitude_geo'] if row['Longitude'] == 0 and pd.notna(row['Longitude_geo']) else row['Longitude'],
    axis=1
)

# 删除合并用的临时列
df_cleaned3 = df_merged.drop(columns=['Latitude_geo', 'Longitude_geo'])

# 检查现在还有多少缺失经纬度的行
missing_after = df_cleaned3[(df_cleaned3['Latitude'] == 0) & (df_cleaned3['Longitude'] == 0)]
print(f"更新后 Latitude=0 且 Longitude=0 的行数：{len(missing_after)}")

更新后 Latitude=0 且 Longitude=0 的行数：5

In [41]:
# 删除 Latitude 和 Longitude 都为 0 的行
df_cleaned3 = df_cleaned3[~((df_cleaned3['Latitude'] == 0) & (df_cleaned3['Longitude'] == 0))]
# 再检查一下还有没有缺失的
remaining = df_cleaned3[(df_cleaned3['Latitude'] == 0) & (df_cleaned3['Longitude'] == 0)]
print(f"删除后 Latitude=0 且 Longitude=0 的行数：{len(remaining)}")

删除后 Latitude=0 且 Longitude=0 的行数：0

In [43]:
missing_count = df_cleaned3.isnull().sum()
missing_ratio = df_cleaned3.isnull().mean()
missing_df = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': (missing_ratio * 100).round(2)
})
print(missing_df)

                    Missing Count  Missing Ratio (%)
EventType                       0               0.00
EventDate                       0               0.00
City                           13               0.05
State                        4871              19.39
Country                         4               0.02
HighestInjuryLevel          13852              55.13
FatalInjuryCount                0               0.00
SeriousInjuryCount              0               0.00
MinorInjuryCount                0               0.00
Latitude                        0               0.00
Longitude                       0               0.00
Make                            0               0.00
Model                           0               0.00
AirportID                    9932              39.53
Scheduled                   22203              88.37
PurposeOfFlight              4947              19.69
FAR                           680               2.71
AirCraftDamage               1609               6.40
WeatherCondition             4437              17.66

In [47]:
# 将指定列的缺失值填充为字符串 'NaN'
df_cleaned4 = df_cleaned3.copy()
df_cleaned4[['City', 'State', 'Country', 'HighestInjuryLevel']] = df_cleaned4[[
    'City', 'State', 'Country', 'HighestInjuryLevel'
]].fillna('NaN')
print(df_cleaned4[['City', 'State', 'Country', 'HighestInjuryLevel']].isnull().sum())

City                  0
State                 0
Country               0
HighestInjuryLevel    0
dtype: int64

In [49]:
missing_count = df_cleaned4.isnull().sum()
missing_ratio = df_cleaned4.isnull().mean()
missing_df = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': (missing_ratio * 100).round(2)
})
print(missing_df)

                    Missing Count  Missing Ratio (%)
EventType                       0               0.00
EventDate                       0               0.00
City                            0               0.00
State                           0               0.00
Country                         0               0.00
HighestInjuryLevel              0               0.00
FatalInjuryCount                0               0.00
SeriousInjuryCount              0               0.00
MinorInjuryCount                0               0.00
Latitude                        0               0.00
Longitude                       0               0.00
Make                            0               0.00
Model                           0               0.00
AirportID                    9932              39.53
Scheduled                   22203              88.37
PurposeOfFlight              4947              19.69
FAR                           680               2.71
AirCraftDamage               1609               6.40
WeatherCondition             4437              17.66

In [51]:
cols_to_check = ['AirportID', 'Scheduled', 'PurposeOfFlight', 'FAR', 'AirCraftDamage', 'WeatherCondition']

for col in cols_to_check:
    # 去掉缺失（NaN）值
    non_missing = df_cleaned4[col].dropna()
    unique_values = non_missing.unique()
    num_unique = len(unique_values)

    print(f"列：{col}")
    print(f"非缺失的类别数量：{num_unique}")
    print(f"类别值：{unique_values}")
    print("-" * 40)

列：AirportID
非缺失的类别数量：5758
类别值：['4S2' 'PVF' '01CL' ... 'KOLD' 'PTRO' 'YZV']
----------------------------------------
列：Scheduled
非缺失的类别数量：2
类别值：['SCHD' 'NSCH']
----------------------------------------
列：PurposeOfFlight
非缺失的类别数量：82
类别值：['INST' 'PERS' 'AAPL' 'BUS' 'AOBV' 'OWRK' 'FLTS' 'UNK' 'FIRF' 'POSI' ','
 ',PERS' 'FERY' 'PERS,INST' 'ASHO' 'EXEC' 'PERS,PERS' 'ADRP' 'FIRF,UNK'
 'PUBS' 'PUBF' 'INST,INST' 'AOBV,PERS' 'EXLD' 'PUBU' 'SKYD' 'PERS,EXEC'
 'FLTS,FLTS' ',,' 'ASHO,ASHO' 'PUBL' 'AAPL,AAPL' 'BANT' 'AAPL,' 'GLDT'
 ',UNK' 'INST,OWRK' 'AAPL,FIRF' 'OWRK,OWRK' 'AAPL,PERS' 'PERS,' 'POSI,BUS'
 ',EXEC' 'PUBS,PUBS' 'POSI,' 'INST,PERS' 'INST,PUBF' 'BUS,BUS' 'INST,EXEC'
 'PERS,UNK' ',INST' 'POSI,PERS' 'PERS,BUS' 'FIRF,FIRF' 'PERS,AOBV'
 'AOBV,AOBV' 'AOBV,' 'PERS,SKYD' 'ADRP,' 'BUS,' 'PUBU,' 'BUS,INST' ',OWRK'
 'POSI,POSI' 'PERS,OWRK' 'UNK,UNK' 'PUBS,PERS' 'FLTS,' 'GLDT,GLDT'
 'SKYD,SKYD' 'OWRK,PERS' 'PUBL,PUBL' 'UNK,' 'PUBU,INST' 'FERY,PERS'
 'PERS,POSI' ',UNK,' ',POSI' 'GLDT,PERS' ',AOBV' ',PUBF' 'GLDT,PERS,GLDT']
----------------------------------------
列：FAR
非缺失的类别数量：65
类别值：[121 91 137 135 129 'NUSN' 'NUSC' ',' 121121 '121,091K' 'UNK' 91091 121129
 '121,ARMF' 'PUBU,UNK' 'PUBU' 'NUSN,NUSN' '091K' 129091 133 121091
 'NUSC,NUSC' 'NUSC,NUSC,NUSC' 'UNK,UNK' 137137 125 129121 107 'PUBU,137'
 'NUSC,UNK' 129129 91107 'NUSC,NUSN' 91135 103 135091 '129,NUSC'
 'PUBU,PUBU' 'NUSC,121' 91121 121135 '091,ARMF' 'ARMF' 135135 135103
 '091,UNK' 135107 '121,NUSC' 'NUSC,PUBU' 'NUSN,129' 'UNK,PUBU' 'NUSN,NUSC'
 '107,ARMF' 135121 '121,' '121,UNK' 'PUBU,091' 437 129135 'NUSN,'
 'ARMF,ARMF' 'ARMF,091' 'UNK,UNK,UNK' '121,PUBU' 91091091]
----------------------------------------
列：AirCraftDamage
非缺失的类别数量：24
类别值：['Substantial' 'Destroyed' 'Minor' ',' 'None,None' 'Unknown'
 'Destroyed,Minor' 'Substantial,Minor' 'Substantial,Substantial'
 'Destroyed,Destroyed' 'Minor,Destroyed' 'Minor,None' 'Minor,Substantial'
 'Destroyed,Substantial' 'None,None,None' 'Minor,Minor'
 'Substantial,Destroyed' 'Substantial,None' 'Substantial,Unknown'
 'Unknown,Unknown' 'Minor,' 'None,Destroyed' 'Substantial,'
 'Substantial,Substantial,None']
----------------------------------------
列：WeatherCondition
非缺失的类别数量：3
类别值：['VMC' 'IMC' 'Unknown']
----------------------------------------

In [53]:
summary = []

for col in cols_to_check:
    non_missing = df_cleaned4[col].dropna()
    unique_values = non_missing.unique()
    summary.append({
        'Column': col,
        'Non-missing Category Count': len(unique_values),
        'Categories': list(unique_values)
    })

summary_df = pd.DataFrame(summary)
print(summary_df)

             Column  Non-missing Category Count  \
0         AirportID                        5758
1         Scheduled                           2
2   PurposeOfFlight                          82
3               FAR                          65
4    AirCraftDamage                          24
5  WeatherCondition                           3

                                          Categories
0  [4S2, PVF, 01CL, AQY, OAK, DUG, PVB, AUW, FBY,...
1                                       [SCHD, NSCH]
2  [INST, PERS, AAPL, BUS, AOBV, OWRK, FLTS, UNK,...
3  [121, 91, 137, 135, 129, NUSN, NUSC, ,, 121121...
4  [Substantial, Destroyed, Minor, ,, None,None, ...
5                                [VMC, IMC, Unknown]

In [55]:
def clean_multicategory_column(series):
    cleaned_values = []

    for value in series:
        if pd.isnull(value):
            cleaned_values.append(['UNK'])
            continue

        # 分隔符：逗号或空格
        parts = str(value).replace(' ', '').split(',')

        # 清理空字符串
        parts = [p for p in parts if p != '' and p != 'UNK']

        if not parts:
            parts = ['UNK']  # 如果全是空或UNK，赋为 'UNK'

        cleaned_values.append(parts)

    return cleaned_values

# 复制一份数据
df_cleaned5 = df_cleaned4.copy()

# 清洗 PurposeOfFlight 和 FAR
df_cleaned5['PurposeOfFlight_clean'] = clean_multicategory_column(df_cleaned5['PurposeOfFlight'])
df_cleaned5['FAR_clean'] = clean_multicategory_column(df_cleaned5['FAR'])

In [57]:
# PurposeOfFlight
purpose_categories = set()
for lst in df_cleaned5['PurposeOfFlight_clean']:
    purpose_categories.update(lst)

print("PurposeOfFlight 清洗后的所有类别：")
print(sorted(purpose_categories))
print("-" * 50)

# FAR
far_categories = set()
for lst in df_cleaned5['FAR_clean']:
    far_categories.update(lst)

print("FAR 清洗后的所有类别：")
print(sorted(far_categories))

PurposeOfFlight 清洗后的所有类别：
['AAPL', 'ADRP', 'AOBV', 'ASHO', 'BANT', 'BUS', 'EXEC', 'EXLD', 'FERY', 'FIRF', 'FLTS', 'GLDT', 'INST', 'OWRK', 'PERS', 'POSI', 'PUBF', 'PUBL', 'PUBS', 'PUBU', 'SKYD', 'UNK']
--------------------------------------------------
FAR 清洗后的所有类别：
['091', '091K', '103', '107', '121', '121091', '121121', '121129', '121135', '125', '129', '129091', '129121', '129129', '129135', '133', '135', '135091', '135103', '135107', '135121', '135135', '137', '137137', '437', '91', '91091', '91091091', '91107', '91121', '91135', 'ARMF', 'NUSC', 'NUSN', 'PUBU', 'UNK']

In [59]:
def simplify_far_code(code):
    # 如果是缺失或未知
    if pd.isnull(code) or code == 'UNK':
        return 'UNK'
    
    # FAR 的主要类别
    if '121' in code:
        return '121'
    elif '91' in code:
        return '91'
    elif '135' in code:
        return '135'
    elif '129' in code:
        return '129'
    elif '133' in code:
        return '133'
    elif '125' in code:
        return '125'
    elif '103' in code:
        return '103'
    elif '107' in code:
        return '107'
    elif 'NUSN' in code or 'NUSC' in code:
        return 'NUS'
    elif 'ARMF' in code:
        return 'ARMF'
    elif 'PUBU' in code:
        return 'PUBU'
    else:
        return code  # 其他保留原值

# 对清洗后的 FAR_clean 列进行简化（注意 FAR_clean 是列表，我们只取第一个标签）
df_cleaned5['FAR_simplified'] = df_cleaned5['FAR_clean'].apply(lambda lst: simplify_far_code(lst[0]))

In [61]:
print("简化后的 FAR 类别：")
print(sorted(df_cleaned5['FAR_simplified'].unique()))

简化后的 FAR 类别：
['103', '107', '121', '125', '129', '133', '135', '137', '137137', '437', '91', 'ARMF', 'NUS', 'PUBU', 'UNK']

In [63]:
df_cleaned5 = df_cleaned5.copy()
# 确认包含了新的清洗列
print("确认包含的清洗列：")
print(['PurposeOfFlight_clean', 'FAR_clean', 'FAR_simplified' in df_cleaned5.columns])

确认包含的清洗列：
['PurposeOfFlight_clean', 'FAR_clean', True]

In [67]:
df_cleaned5.to_csv("df_cleaned5_cleaned.csv", index=False)

In [69]:
missing_count = df_cleaned5.isnull().sum()
missing_ratio = df_cleaned5.isnull().mean()
missing_df = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': (missing_ratio * 100).round(2)
})
print(missing_df)

                       Missing Count  Missing Ratio (%)
EventType                          0               0.00
EventDate                          0               0.00
City                               0               0.00
State                              0               0.00
Country                            0               0.00
HighestInjuryLevel                 0               0.00
FatalInjuryCount                   0               0.00
SeriousInjuryCount                 0               0.00
MinorInjuryCount                   0               0.00
Latitude                           0               0.00
Longitude                          0               0.00
Make                               0               0.00
Model                              0               0.00
AirportID                       9932              39.53
Scheduled                      22203              88.37
PurposeOfFlight                 4947              19.69
FAR                              680               2.71
AirCraftDamage                  1609               6.40
WeatherCondition                4437              17.66
PurposeOfFlight_clean              0               0.00
FAR_clean                          0               0.00
FAR_simplified                     0               0.00

In [71]:
compare_df = df_cleaned5[['PurposeOfFlight', 'PurposeOfFlight_clean', 'FAR', 'FAR_clean', 'FAR_simplified']]

# 显示前10行看看效果
print(compare_df.head(10))

  PurposeOfFlight PurposeOfFlight_clean  FAR FAR_clean FAR_simplified
0             NaN                 [UNK]  NaN     [UNK]            UNK
1             NaN                 [UNK]  NaN     [UNK]            UNK
2             NaN                 [UNK]  121     [121]            121
3            INST                [INST]   91      [91]             91
4             NaN                 [UNK]  NaN     [UNK]            UNK
5             NaN                 [UNK]   91      [91]             91
6            PERS                [PERS]   91      [91]             91
7            PERS                [PERS]   91      [91]             91
8            AAPL                [AAPL]  137     [137]            137
9            INST                [INST]  NaN     [UNK]            UNK

In [73]:
df_cleaned5 = df_cleaned5.drop(columns=['PurposeOfFlight', 'FAR', 'FAR_clean'])
# 检查一下还剩哪些列
print("现在的列名：")
print(df_cleaned5.columns.tolist())

现在的列名：
['EventType', 'EventDate', 'City', 'State', 'Country', 'HighestInjuryLevel', 'FatalInjuryCount', 'SeriousInjuryCount', 'MinorInjuryCount', 'Latitude', 'Longitude', 'Make', 'Model', 'AirportID', 'Scheduled', 'AirCraftDamage', 'WeatherCondition', 'PurposeOfFlight_clean', 'FAR_simplified']

In [75]:
df_cleaned5 = df_cleaned5.rename(columns={
    'PurposeOfFlight_clean': 'PurposeOfFlight',
    'FAR_simplified': 'FAR'
})

# 确认一下重命名结果
print("现在的列名：")
print(df_cleaned5.columns.tolist())

现在的列名：
['EventType', 'EventDate', 'City', 'State', 'Country', 'HighestInjuryLevel', 'FatalInjuryCount', 'SeriousInjuryCount', 'MinorInjuryCount', 'Latitude', 'Longitude', 'Make', 'Model', 'AirportID', 'Scheduled', 'AirCraftDamage', 'WeatherCondition', 'PurposeOfFlight', 'FAR']

In [77]:
df_cleaned5

,EventType,EventDate,City,State,Country,HighestInjuryLevel,FatalInjuryCount,SeriousInjuryCount,MinorInjuryCount,Latitude,Longitude,Make,Model,AirportID,Scheduled,AirCraftDamage,WeatherCondition,PurposeOfFlight,FAR
0,ACC,2025-04-22T13:25:00Z,Fayetteville,Arkansas,United States,NaN,0,0,0,36.005083,-9.417006e+01,CESSNA,T210N,NaN,NaN,NaN,NaN,[UNK],UNK
1,INC,2025-04-22T04:00:00Z,Budapest,NaN,Hungary,NaN,0,0,0,47.467000,1.895000e+01,BOEING,737,NaN,NaN,NaN,NaN,[UNK],UNK
2,ACC,2025-04-20T04:00:00Z,Tulsa,Oklahoma,United States,NaN,0,0,0,36.198393,-9.588810e+01,BOEING,737-7H4,NaN,SCHD,NaN,NaN,[UNK],121
3,ACC,2025-04-19T11:42:00Z,Hood River,Oregon,United States,NaN,0,0,0,45.674118,-1.215227e+02,SCHWEIZER,SGS 2-33A,4S2,NaN,Substantial,VMC,[INST],91
4,ACC,2025-04-19T11:06:00Z,Phoenix,Arizona,United States,NaN,0,0,0,33.688306,-1.120825e+02,CHAPIN WALLACE HADLEY,SENIOR AERO SPORT,NaN,NaN,NaN,NaN,[UNK],UNK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,ACC,2010-01-02T17:21:00Z,Somerset,Kentucky,United States,NaN,0,0,0,37.053611,-8.461555e+01,FAIRCHILD,SA227,SME,NSCH,Substantial,VMC,[UNK],135
25126,INC,2010-01-02T14:36:00Z,Sept-Îles,NaN,Canada,NaN,0,0,0,5350.000000,1.140549e+06,Hawker Beechcraft Corp.,200,YZV,NSCH,Minor,NaN,[UNK],NUS
25127,ACC,2010-01-01T21:30:00Z,Pearsall,Texas,United States,NaN,0,0,0,28.864721,-9.912305e+01,MAULE,M-4-220C,NaN,NaN,Substantial,VMC,[PERS],91
25128,ACC,2010-01-01T13:42:00Z,Tipton,California,United States,Minor,0,0,1,36.068889,-1.192611e+02,HILLER,UH-12E,VIS,NaN,Substantial,VMC,[AAPL],137
25129,ACC,2010-01-01T13:08:00Z,Doylestown,Pennsylvania,United States,NaN,0,0,0,40.333057,-7.512222e+01,CESSNA,150G,DYL,NaN,Substantial,VMC,[PERS],91

In [79]:
df_cleaned5.to_csv("df_cleaned5_cleaned.csv", index=False)

In [81]:
# 统计 PurposeOfFlight 中逗号的数量，大于等于 1 表示有多个类别
multi_label_rows = df_cleaned5[df_cleaned5['PurposeOfFlight'].str.count(',') >= 1]

# 查看结果
print(f"包含多个类别的行数：{len(multi_label_rows)}")
print(multi_label_rows[['PurposeOfFlight']].head(10))

包含多个类别的行数：0
Empty DataFrame
Columns: [PurposeOfFlight]
Index: []

In [83]:
df_cleaned5['PurposeOfFlight'] = df_cleaned5['PurposeOfFlight'].apply(lambda x: x[0] if isinstance(x, list) else x)
df_cleaned5['FAR'] = df_cleaned5['FAR'].apply(lambda x: x[0] if isinstance(x, list) else x)
df_cleaned5

,EventType,EventDate,City,State,Country,HighestInjuryLevel,FatalInjuryCount,SeriousInjuryCount,MinorInjuryCount,Latitude,Longitude,Make,Model,AirportID,Scheduled,AirCraftDamage,WeatherCondition,PurposeOfFlight,FAR
0,ACC,2025-04-22T13:25:00Z,Fayetteville,Arkansas,United States,NaN,0,0,0,36.005083,-9.417006e+01,CESSNA,T210N,NaN,NaN,NaN,NaN,UNK,UNK
1,INC,2025-04-22T04:00:00Z,Budapest,NaN,Hungary,NaN,0,0,0,47.467000,1.895000e+01,BOEING,737,NaN,NaN,NaN,NaN,UNK,UNK
2,ACC,2025-04-20T04:00:00Z,Tulsa,Oklahoma,United States,NaN,0,0,0,36.198393,-9.588810e+01,BOEING,737-7H4,NaN,SCHD,NaN,NaN,UNK,121
3,ACC,2025-04-19T11:42:00Z,Hood River,Oregon,United States,NaN,0,0,0,45.674118,-1.215227e+02,SCHWEIZER,SGS 2-33A,4S2,NaN,Substantial,VMC,INST,91
4,ACC,2025-04-19T11:06:00Z,Phoenix,Arizona,United States,NaN,0,0,0,33.688306,-1.120825e+02,CHAPIN WALLACE HADLEY,SENIOR AERO SPORT,NaN,NaN,NaN,NaN,UNK,UNK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,ACC,2010-01-02T17:21:00Z,Somerset,Kentucky,United States,NaN,0,0,0,37.053611,-8.461555e+01,FAIRCHILD,SA227,SME,NSCH,Substantial,VMC,UNK,135
25126,INC,2010-01-02T14:36:00Z,Sept-Îles,NaN,Canada,NaN,0,0,0,5350.000000,1.140549e+06,Hawker Beechcraft Corp.,200,YZV,NSCH,Minor,NaN,UNK,NUS
25127,ACC,2010-01-01T21:30:00Z,Pearsall,Texas,United States,NaN,0,0,0,28.864721,-9.912305e+01,MAULE,M-4-220C,NaN,NaN,Substantial,VMC,PERS,91
25128,ACC,2010-01-01T13:42:00Z,Tipton,California,United States,Minor,0,0,1,36.068889,-1.192611e+02,HILLER,UH-12E,VIS,NaN,Substantial,VMC,AAPL,137
25129,ACC,2010-01-01T13:08:00Z,Doylestown,Pennsylvania,United States,NaN,0,0,0,40.333057,-7.512222e+01,CESSNA,150G,DYL,NaN,Substantial,VMC,PERS,91

In [85]:
df_cleaned5.to_csv("df_cleaned5_cleaned.csv", index=False)

In [87]:
missing_count = df_cleaned5.isnull().sum()
missing_ratio = df_cleaned5.isnull().mean()
missing_df = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing Ratio (%)': (missing_ratio * 100).round(2)
})
print(missing_df)

                    Missing Count  Missing Ratio (%)
EventType                       0               0.00
EventDate                       0               0.00
City                            0               0.00
State                           0               0.00
Country                         0               0.00
HighestInjuryLevel              0               0.00
FatalInjuryCount                0               0.00
SeriousInjuryCount              0               0.00
MinorInjuryCount                0               0.00
Latitude                        0               0.00
Longitude                       0               0.00
Make                            0               0.00
Model                           0               0.00
AirportID                    9932              39.53
Scheduled                   22203              88.37
AirCraftDamage               1609               6.40
WeatherCondition             4437              17.66
PurposeOfFlight                 0               0.00
FAR                             0               0.00

In [89]:
# 复制数据
df_cleaned6 = df_cleaned5.copy()

# 填充缺失
df_cleaned6[['AirportID', 'Scheduled', 'AirCraftDamage', 'WeatherCondition']] = \
    df_cleaned6[['AirportID', 'Scheduled', 'AirCraftDamage', 'WeatherCondition']].fillna('UNK')

# 检查是否填充成功
print(df_cleaned6[['AirportID', 'Scheduled', 'AirCraftDamage', 'WeatherCondition']].isnull().sum())

AirportID           0
Scheduled           0
AirCraftDamage      0
WeatherCondition    0
dtype: int64

In [91]:
df_cleaned6.to_csv("df_cleaned2.csv", index=False)